version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: infotecsdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "5387"
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  webapi:
    container_name: infotecs_api
    build:
      context: ./back
      dockerfile: infotecs.API/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      ASPNETCORE_URLS: http://+:8080
      DOTNET_RUNNING_IN_CONTAINER: "true"
      ConnectionStrings__InfotecsDbContext: "Host=postgres;Port=5432;Database=infotecsdb;Username=postgres;Password=5387"
      ASPNETCORE_ENVIRONMENT: Docker
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    container_name: infotecs_frontend
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    stdin_open: true
    tty: true
    depends_on:
      - webapi
    environment:
      API_URL: http://webapi:8080
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
